{% extends 'base.html' %}
{% block title %}Users{% endblock %}
{% block content %}
    <!-- Sidebar Start -->
    <aside class="sidebar">
        <div class="tab-content">
            <!-- Users Tab Content Start -->
            <div class="tab-pane" id="friends-content">
                <div class="d-flex flex-column h-100">
                    <div class="hide-scrollbar" id="friendsList">
                        <!-- Chat Header Start -->
                        <div class="sidebar-header sticky-top p-2">

                            <div class="d-flex justify-content-between align-items-center">
                                <!-- Chat Tab Pane Title Start -->
                                <h5 class="font-weight-semibold mb-0">Users</h5>
                                <!-- Chat Tab Pane Title End -->
                            </div>
        
                            <!-- Sidebar Header Start -->
                            <div class="sidebar-sub-header">
                                <div>
                                    <!-- Sidebar Search Start -->
                                    <form class="form-inline" action="/users">
                                        <div class="input-group">
                                            <input name="q" type="text" class="form-control search border-right-0 transparent-bg pr-0" placeholder="Search users">
                                            <div class="input-group-append">
                                                <div class="input-group-text transparent-bg border-left-0" role="button">
                                                    <img class="injectable hw-20" src="/static/media/heroicons/search.svg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- Sidebar Search End -->
                                </div>
                                <div>
                                    <button class="btn btn-outline-default mx-1 d-xl-none profile-btn" data-toggle-view="" type="button">
                                        <span>Toggle Users View</span> 
                                    </button>
                                </div>
                            </div>
                            <!-- Sidebar Header End -->
                        </div>
                        <!-- Chat Header End -->

                        {% include "./partials/_alerts.html" %}

                        <!-- Friends Contact List Start -->
                        <ul class="contacts-list" id="friendsTab" data-friends-list="">

                            {% if users|length > 0 %}
                            {% for user in users %}
                                <!-- User Item Start -->
                                <li class="contacts-item">
                                    <a class="contacts-link" href="/users/{{user.id}}">
                                        {% if user.is_online %}
                                        <div class="avatar avatar-online mb-1 {{user.class_color}}">
                                        {% else %}
                                        <div class="avatar mb-1 {{user.class_color}}">
                                        {% endif %}
                                            <span>
                                                {{user.first_name[0].capitalize()}}
                                                {{user.last_name[0].capitalize()}}
                                            </span>
                                        </div>
                                        <div class="contacts-content">
                                            <div class="contacts-info">
                                                <h6 class="chat-name text-truncate">{{user.username}}</h6>
                                            </div>
                                            <div class="contacts-texts">
                                                <img class="injectable hw-16 text-muted mr-1" src="/static/media/heroicons/location-marker.svg" alt="">
                                                <p class="text-muted mb-0">{{user.country.name}}</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <!-- User Item End -->
                            {% endfor %}
                            {% else %}
                                <li class="contacts-item not-available">
                                    No Users available
                                </li>
                            {% endif %}
                        </ul>
                        <!-- Friends Contact List End -->
                    </div>
                </div>
            </div>
            <!-- Users Tab Content End -->
        </div>
    </aside>
    <!-- Sidebar End -->

    <!-- Main Start -->
    <!-- <div class="main main-visible"> -->
    <div class="main">
        <div class="d-flex flex-column justify-content-center text-center h-100 w-100">
            <div class="container-xl">
                <div class="avatar bg-info text-light mb-1">
                    <span>UI</span>
                </div>
                <h5>View User</h5>
                <p class="text-muted">User Profile Information</p>

            </div>
        </div>
        <!-- Friends Page End -->
    </div>
    <!-- Main End -->

    <div class="backdrop"></div>
        
{% endblock %}